.projects {
    text-shadow: 0px 0px 10px #000000;
    font-weight: 600;
    color: #ffffffb2;
}
.todo{
    background-color: rgba(206, 206, 206, 0.342);
    backdrop-filter: blur(7px); 
    overflow: hidden;
    height: 300px  !important;
}
.izq{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
.titulo{
    font-size: 26px;
    text-decoration: underline;
    color: rgb(214, 129, 0) !important;
}
.desc{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    text-shadow: none;
}
.img{
    width: 100%;
  
    
    transition: all 3s ease-in;
}
.img:hover{
    transform: translateY(-60%);
}
.icon{
    font-size: 25px;
    color: rgb(214, 129, 0) !important;

}
.container-iconos{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.icono{
    font-size: 30px !important;
    color: rgb(48, 47, 47);
}
@media screen and (max-width: 480px) {
   
}